@model IEnumerable<CivisDemoProject.Models.BusStop>

@{
    ViewBag.Title = "CTA Ridership: Bus Stops";
}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="~/Home/Index">CTA Ridership Demo</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="~/Home/Index">Dataset</a></li>
			<li class="active"><a href="~/BusStop/Index">Bus Stop Table</a></li>
			<li><a href="~/StopRoute/Index">Stop Route Table</a></li>
			<li><a href="~/Visualize/Index">Visualizations</a></li>
			<li><a href="~/Query/Index">Queries</a></li>
		</ul>
	</div>
</div>

<div id="header-wrapper">
	<h2>Bus Stops</h2>
</div>

<div id="wrapper1">
	<table>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.stop_id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.on_street)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.cross_street)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.boardings)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.alightings)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.lat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.lng)
			</th>
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.stop_id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.on_street)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.cross_street)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.boardings)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.alightings)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.lat)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.lng)
			</td>
		</tr>
	}
	</table>
</div>


